# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables or secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.so
*.pyd
*.dll
