<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_userdashboard.css">
</head>

<body class="green-bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Parking</a>
            <div class="navbar-nav ms-auto">
                <span class="navbar-text me-3">
                    Welcome, {{ current_user.username }} {{user[5]}}
                </span>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="hero-user mb-4 position-relative">
            <div>
                <h1 class="display-6 fw-bold mb-2"> Welcome, {{session.username}} !</h1>
                <p class="lead mb-0"> This is your green journey Dashboard.</p>
                <span> Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </div>
        </div>
    </div>
    



</body>
</html> 